body{
    background-color: #EEEEEE;
    margin:0;
    padding: 0;
    height: 100%;
    color: #000000;
    font-size: 16px;
}
.container{
    min-height: 100%;
}
.wrapper{
    width: 80%;
    min-height: 100%;
    max-width: 100%;
    margin:0 auto;
}
div.hidden-menu img{
    visibility: hidden;
    width: 50px;
    max-width: 80%;
    margin-top: 10px;
    height: 50px;
    float: right;
}
div#list{
    display: block;
    background-color: #183046;
    width: 100%;
    position: absolute;
    top: 70px;
}

#close{
    width: 50px;
    height: 50px;
    position: absolute;
    float: right;
}

#menu2{
    list-style: none;
    margin:0;
    color: white;
    display: inline-block;
}
    #menu2 a{
        text-decoration: none;
        color: white;
    }
        #menu2 a:hover{
            text-decoration: underline;
        }

        #menu2 ul{
            list-style: none;
        }

@media (max-width: 1080px) {
    .wrapper {
        width: 100%;
    }
}
@media (max-width: 860px) {
    div.nav-items{
        display:none;
    }
    div.hidden-menu img{
        visibility: visible;
    }
}

@media (min-width: 320px) and (max-width: 479px){
   /*about*/
    hr{
        visibility: hidden;
    }

    .team{
        position: relative !important;
        display: block;
        margin-top: 1% !important;
    }

    .members-left.members-right{
        display: block;

    }

    .innerSection{
        width: 83% !important;
    }

    .innerSection header{
        margin-top: -5% !important;
    }

    #about article{
        margin-left: 2%;
    }

    .social{
        display: block;
        width: 100%;
        margin-left: 30% !important;
    }

    .social a{
        margin-right: 10% !important;
    }

    .social-text{
       display: none !important;
    }

    .social img.btnFacebook, .social img.btnSoftUni, .social img.btnGitHub{
        width: 6vmin !important;
        height: 6vmin !important;
    }

    #about aside{
        display: none;
    }
    /*end of about*/

    /*form*/

    form {
        margin: 10% auto !important;
        width: 68% !important;
        padding: 5% !important;
    }

    .formHeading{
      margin-bottom: 7% !important;
    }

    .feedbackForm label{
        font-size: 1em !important;
    }

    input {
        height: 20px !important;
        margin-top: 1%;
        margin-bottom: 5% !important;
    }

    textarea {
        height: 65px !important;
    }

    .inputButton{
        margin: 8% 0 1% 35% !important;
        width: 35% !important;
        height: 27px !important;
        font-size: .8em;
    }

    /*end of form*/
}
.clearfix{
    height: 70px;
    background-color: #183046;
}

/*NAVIGATION*/
.nav-items{
    display: inline-block;
    float: right;
}

#main-nav{
    font-size: 1.2em;
    margin: 0;
    padding: 0;
    height: 70px;
    background-color: #183046;
}
    .logo{
        float: left;
        color: #ffffff;
        font-size: 1em;

    }
        .logo img{
            width: 70%;
            margin-top: 5%;
        }

        /* Main Menu */
        ul#menu, ul#menu ul.sub-menu {
            padding-top: 3.5%;
            margin: 0 auto;
            display:inline-block;
            list-style: none;
        }
        /* Sub Menu */
        ul#menu li a, ul#menu li ul.sub-menu li a {
            color: white;
            background-color: #183046;
            padding: 5px;
            display: inline-block;
            text-decoration: none;
            font-weight: bold;
            margin-left: 20px;
        }

        ul#menu li ul.sub-menu li a{
            display: block;
            line-height: 22px;
            font-size: .9em;
            padding-left: 4%;
            border-bottom: 1px solid #767676;
        }

        ul#menu li {
            display: inline;
            position: relative;
        }

        ul#menu li a:hover{
            font-weight: bold;
            color: #979797 !important;
        }

        /*sub menu*/
        ul#menu li ul.sub-menu {
            display: none;
            position: absolute;
            left: -53px;
            border-top-color: #FFF;
            margin-top: -33px;
            width: 240px;
            padding: 49px;
            font-size: 1.2rem;
            z-index: 5;
        }
        ul#menu li:hover ul.sub-menu {
            display: block;
        }
        ul#menu li:hover ul.sub-menu a:hover {
            text-decoration: none;
            border: none;
            border-bottom: 1px solid #767676 !important;
        }

        /* End of Menu */

/*END OF NAVITAGTION*/

div.post{
    margin-top: 30px;
    padding: 20px;
    width: 100%;
    display: inline-block;
    border-bottom: 2px solid #C7C7C7;
}

    span.post-title {
        font-size: 2em;
        font-style: italic;
        font-weight: bold;
    }
    .post-footer{
        font-size: 1em;
        color: #232323;
    }

    div.image{
        float: left;
        width: 50%;
        height: 100%;
    }

    div.image img{
        width: 100%;
    }

    div.sidebar{
        float: left;
        width: 40%;
        margin-left: 25px;
        padding: 5px;
    }

    div.votes{
        margin: 0 auto;
    }

    #buttom-footer{
        color: #ffffff;
        text-align: center;
        margin-top: 2.5%;
        padding: 1.8% 0;
        margin-top:30px;
        padding: 20px 0 20px 0;
        height: 100px;
        background-color: #333333;
        width: 100%;
    }

 /*HEAD*/
    div.votes img{
        width: 40px;
        height: 40px;
    }

    .comment-gag{
        width: 100%;
        height: 50px;
        margin-top:25px;
    }




/* freeze frame */
figure.freezeframe-container {
    margin: 0;
    border-radius: 3px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}


.copyright img{
    border:0;
    width: 88px;
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 3.5+ */
    filter: gray; /* IE6-9 */
    -webkit-filter: grayscale(100%); /* Chrome 19+ & Safari 6+ */
    height: 31px;
}

.copyright img:hover {
    filter: none;
    -webkit-filter: grayscale(0%);
}

section{
    min-height: 25rem;
}

#about{
    display: inline-block;
}

/*Start of about*/
section{
    font-size: 16px;
}

.innerSection{
    display: inline-block;
    min-height: 0;
}

hr{
    border-color: #1e3f5b;
    margin-top: 5%;
}

.team{
    position: absolute;
    display: inline-block;
    color: white;
    background: #183046;
    border: 2px solid #000000;
    border-radius: 30px;
    padding: 0 3%;
    margin-top: -2.5%;
    margin-left: 30%;
}

.members-right, .members-left{
    display: inline-block;
    width: 100%;
    border-bottom: 2px solid #183046;
    margin-top: 2%;
}

.members-right .innerSection{
    float: left;
    width: 45%;
    margin-left: 8%;
}

.members-left .innerSection{
    float: right;
    width: 45%;
    margin-right: 8%;
}

.members-right .innerSection header, .members-left .innerSection header{
    font-size: 2em;
    text-align: center;
    margin-bottom: -3%;
}

.members-right aside{
    float: right;
    width: 30%;
    margin-right: 2%;
}

.members-left aside{
    float: left;
    width: 30%;
    margin-left: 8%;
}

.members-left img, .members-right img{
    width: 80%;
    margin-bottom: -1%;
}

.personal-picture{
    width: 200px;
    height: 200px;
    border-radius: 500px;
    border: 1px solid darkgray;
}

section footer a{
    margin-left: 5%;
    margin-right: 0;
}

section .members-right footer{
    display: inline-block;
    margin: 3% 0 2% 13.5%;
    float: left;
    width: 32%;
}

section .members-left footer{
    display: inline-block;
    margin: 3% 14% 2% 0;
    width: 32%;
    float: right;
}

.social{
    display: inline-block;
    width: 65%;
    margin: 3% 0 5% 20%;
}

.social a{
    color: #000000;
    text-decoration: none;
    margin-right: 3%;
}

.fb, .github, .softUni{
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 3.5+ */
    filter: gray; /* IE6-9 */
    -webkit-filter: grayscale(100%); /* Chrome 19+ & Safari 6+ */
}

.fb:hover, .github:hover, .softUni:hover{
    filter: none;
    -webkit-filter: grayscale(0%);
}

.social img.btnFacebook, .social img.btnSoftUni, .social img.btnGitHub{
    width: 4vmin;
    height: 4vmin;
    margin-right: 1%;
    vertical-align: bottom;
}

.social label{
    display: inline-block;
    margin-top: 1%;
    vertical-align: top;
}

/*End of about*/


/*Form*/
form {
    margin: auto;
    margin-bottom: 5%;
    width: 36%;
    color: white;
    text-decoration: none;
    border-radius: 10px;
    padding: 2%;
    border: 1px solid #999;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
    background-color: #183046;
}

.feedbackForm{
    margin-top: 5%;
}

.formHeading{
    text-align: center;
    margin-bottom: 5%;
    margin-top: 0;
    font-weight: 500;
    font-size: 2em;
}

.feedbackForm label{
    margin-bottom: 0.5%;
    font-size: 1.1em;
}

input {
    width: 99%;
    display: block;
    margin-bottom: 4%;
    margin-top: 1%;
    border: 1px solid #999;
    height: 25px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
}

textarea {
    width: 98%;
    height: 75px;
    margin-top: 1%;
    display: block;
    border: 1px solid #999;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
}

textarea:focus, input:focus {
    border: 1px solid darkblue;
    background-color: #ccffff;
}


.inputButton{
    margin: 6% 0 0 37%;
    color: white ;
    background-color: #183046;
    border: 1px solid white;
    width: 26.5%;
    height: 30px;
    border-radius:10px;
    font-size: .9em;
}
.inputButton:hover{
    background-color: orange;
    color: #000000;
    border: 1px solid #000000;
    font-weight: 500;
}
.inputButton:focus{
    background-color: cornflowerblue;
}
/*End of form*/
