body{
    background-color: #EEEEEE;
    margin:0;
    padding: 0;
    color: #000000;
}
.wrapper{
    width: 80%;
    margin:0 auto;
}
.clearfix{
    height: 70px;
    background-color: #183046;
}

#main-nav{
    font-size: 1.7em;
    height: 70px;
    background-color: #183046;
}
    .logo{
        float: left;
        color: #ffffff;
        font-size: 1em;

    }
        .logo img{
            width: 278px;
        }

        .nav-items{
            float: right;
            margin-top: -7px;
        }
         .nav-items ul li {
             margin-right: 20px;
            list-style: none;
            float: left;
        }

            .nav-items ul li:hover{
            margin-right: 20px;
            list-style: none;
            float: left;
            /* removed  border-bottom: 1px solid #ffffff; */
            }
            .nav-items ul li a{
                color: #ffffff;
                text-decoration: none;
            }

div.post{
    margin-top: 30px;
    padding: 20px;
    width: 60%;
    border-bottom: 2px solid #000000;
}

    span.post-title {
        font-size: 2em;
        font-style: italic;
        font-weight: bold;
    }
    .post-footer{
        font-size: 1em;
        color: #232323;
    }

    div.image{
        width: 100%;
        margin-top:30px;
        height: 100%;
    }

    div.image img{
        width: 100%;
    }

    #buttom-footer{
        color: #ffffff;
        text-align: center;
        margin-top:30px;
        padding: 20px;
        height: 100px;
        background-color: #333333;
    }




    /* Main Menu */
ul#menu, ul#menu ul.sub-menu {
    padding-top: 2rem;
    margin: 0 auto;
    font-size: 30px;
}
    /* Sub Menu */
ul#menu li a, ul#menu li ul.sub-menu li a {
    color: white;
    background-color: #183046;
    padding: 5px;
    display: inline-block;
}

ul#menu li { position: relative; }

    /*sub menu*/
ul#menu li ul.sub-menu {
    display: none;
    position: absolute;
    position: absolute;
    top: 30px;
    left: -2rem;
    width: 15rem;
    padding-top: 10px;
    padding-left: 35px;

}
ul#menu li:hover ul.sub-menu {
    display:block;

}
/* End of Menu */

/* freeze frame */
figure.freezeframe-container {
    margin: 0px 0px 0px 0px;
    border-radius: 3px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);

}
